=div_for change do  
  %p
    %span.change_type= t change.change_type
    el 
    %i= change.created_at.to_formatted_s(:short) 
    por
    %b= change.responsible.name
    %span{:style=>"float:right", :id=>"toggle"}
      =image_tag('icons/bullet_toggle_plus.png')
      =link_to_function "Ver" do |page|
        - page << "$('#change_#{change.id} .content').slideToggle()"
  //Directo Relation with application.js and the action the link of comment does. #WARNING: do no change.
  .content{:style=>"display:none"}
    .change_comments.prefix_0     
      %p
        = change.try(:admin_comments)  if @current_user.admin?
        = change.try(:student_comments) unless @current_user.admin?
      
      .prefix_1
        %h3 Comentarios        
        %p= render change.comments 
          
        =render :partial=>"/comments/comment_form", :locals=>{:post=>change}
        .change_files
          %h3 Archivos de evidencia
          -if change.attachments.empty?
            %p SIN ARCHIVOS
          =render  change.attachments

