=div_for change do 
  .ui-state-default.ui-corner-all.plus#content-toggle
    %b= change.created_at.to_formatted_s(:short)
    %span.ui-icon.ui-icon-plusthick
  %p
    %span= t change.change_type    
    por
    %b
      %i= change.responsible.name
  //Directo Relation with application.js and the action the link of comment does. #WARNING: do no change.
  .content{:style=>"display:none"}
    .change_comments.prefix_0     
      %p#msg
        = change.try(:admin_comments)  if @current_user.admin?
        = change.try(:student_comments) unless @current_user.admin?
      
      .prefix_1
        %h3 Comentarios        
        %p= render change.comments 
          
        =render :partial=>"/comments/comment_form", :locals=>{:post=>change}
        .change_files
          %h3 Archivos de evidencia
          -if change.attachments.empty?
            %p SIN ARCHIVOS
          =render  change.attachments

