= form_for(@ticket) do |f|
  = field_set_tag do 
    - if @ticket.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@ticket.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
 
    .field  
      = f.label "Tipo de Queja"     
      -Ticket::CORRESPONDING_MAP.each_pair do |key, values|      
        %i
          = t key
        - values.each do |subtopic|
          %p.tree
            = f.radio_button :corresponding_to, subtopic
            = t subtopic
          
    .field
      = f.label "Descripción"
      = f.text_area :description

    .actions
      = f.submit t('.send')
