= form_for(@ticket) do |f|
  = field_set_tag do 
    - if @ticket.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@ticket.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
    
    .field
      = f.label "Nombre del estudiante"
      = f.text_field :student
    .field
      = f.label "Curso"
      = f.text_field  :course
    .field
      = f.label "Nombre de Profesor"
      = f.text_field  :teacher
    .field  
      = f.label "Tipo de Queja"
      %small  Con que tienes problema?
      %br
      %p
        -for subject in Ticket::CORRESPONDING_TO
          = f.radio_button  :corresponding_to, subject
          = t subject
          %br
    .field
      = f.label "Descripción"
      = f.text_area :description

    .actions
      = f.submit t('.send')
