= form_for(@ticket) do |f|
  = field_set_tag do 
    - if @ticket.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@ticket.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
    - if @current_user.admin?
      .field
        = f.label :student, "Alumno"
        = f.text_field :student_id
        %span= image_tag 'loading.gif', :id=>"spinner", :style=>"display:none"
        %span#field-message
        #student-info
    .field  
      = f.label "Tipo de Queja"     
      = f.select :corresponding_to, grouped_options_for_select(Ticket::CORRESPONDING_MAP)
          
    .field
      = f.label "Descripción"
      = f.text_area :description

    .actions
      = f.submit t('.send')
