= form_for @ticket, :html=>{:multipart => true} do |f|
  = field_set_tag do
    - if @ticket.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@ticket.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
    - if @current_user.admin?
      .field
        = f.label :student, "ID del Alumno"
        
        //This 2 fields change according to which action is required.
        // If we have a new Ticket, we want to assign a student.
        // If we edit, we want just to print the students name.                
        = f.text_field :student_id unless @ticket.student
        = f.hidden_field  :student_id,  :value=>@ticket.student.id if @ticket.student
        = @ticket.try(:student).try(:name)
        %span= image_tag 'loading.gif', :id=>"spinner", :style=>"display:none"
        %span#field-message
        #student-info

    .field  
      = f.label :corresponding_to, "Tipo de Queja"     
      = f.select :corresponding_to, grouped_options_for_select(Ticket::CORRESPONDING_MAP, @ticket.try(:corresponding_to) )
    
    .field
      = f.label :title, "Titulo"
      = f.text_field  :title
      
    .field
      = f.label "Descripción"
      = f.text_area :description

    .field
      = f.label :file, "Archivo de Evidencia"
      = f.file_field :file
      %ul
        - for file in @ticket.attachments
          %li= file.file_name
          
    .actions
      = f.submit t('.send')
