:javascript
  $('#general-tickets-table').tablesorter({widgets:['zebra']});

%table#general-tickets-table.tablesorter
  %thead
    %tr
      %th.export
        Reportar
      %th
        Nombre
      %th
        Titulo
      %th
        Fecha
      %th
        Ver
  %tbody
    - for ticket in tickets
      %tr
        %td.checkbox= check_box_tag "ticket_to_report", ticket.id
        %td= ticket.student.name      
        %td= ticket.title
        %td{:class => ticket.old? ? "urgent" : ""}
          = ticket.created_at.to_formatted_s(:short)
          ( #{time_ago_in_words(ticket.created_at)} )
        %td= link_to image_tag('icons/zoom.png'), ticket

