=div_for ticket, :class=>"ticket_for_tabs" do 
  %p    
    %span.name
      #{link_to ticket.student.name, ticket_path(ticket)}
    %span.arrows &raquo; 
    #{ticket.corresponding_to}
    %span{:style=>"float:right"}
      = link_to 'Detalles', ticket_path(ticket)
      = check_box_tag('ticket_to_report', ticket.id, false)
  %p
    %span.title
      = ticket.title 
    %span.arrows
      &raquo; 
    %span.description
      = truncate ticket.description, :length=>100
    

