= div_for ticket do
  .left
    .time
      = distance_of_time_in_words(Time.now, ticket.created_at)
      &raquo;
      = ticket.created_at.to_formatted_s(:long)
    .description
      =ticket.description
    %p
      = t('responsible')
      \:
      -if ticket.responsible_id.nil?
        %span.alert= t('no_responsible')
      -else
        = ticket.responsible_id
      , 
      = t('tipo_de_queja')
      \:
      = t ticket.corresponding_to
  .right
    .id
      \#
      =ticket.id
    .actions
      %p
        =link_to t('show'), ticket_path(ticket)
        %br
        =link_to  t('assign_responsible'), responsible_ticket_path(ticket)
        %br
        =link_to t('new_change'), new_ticket_change_path(ticket)
  .pg

