%h1= t '.title'
%p
  = link_to t('back'), tickets_path
  - if @current_user.admin?
    = link_to t('edit'), edit_ticket_path(@ticket)
    |
    = link_to 'PDF',  ticket_path(@ticket, :format => :pdf)
    |
    = link_to t('destroy'), ticket_path(@ticket), :method=>'delete', :confirm => t('are_you_sure')
%hr

%p
  = flag_image(@ticket)
  = t(@ticket.status)
  
%table.details
  %tr
    %td Alumno
    %td= @ticket.student.name
  %tr
    %td Responsable
    %td
      - if @ticket.responsible
        = @ticket.responsible.name
        -if @current_user.admin?
          = link_to "Reasignar", responsible_ticket_path(@ticket)     
      - else
        -if @current_user.admin?
          = button_to("Tomar Queja", {:action=>:update, :responsible_id=>@current_user.id}, :method=>:put)
        -else
          = "Sin Responsable"
        
      
               
  -if @ticket.course?
    %tr
      %td Curso
      %td=  @ticket.course
  -if @ticket.teacher?
    %tr
      %td Profesor
      %td=  @ticket.teacher
  %tr
    %td Tema  
    %td=corresponding_to_path(@ticket)

%blockquote  
  = @ticket.description

%h2
  Rastreo     
%table
  %thead
    %tr
      %th
        Fecha
      %th
        Accion
      %th
        Responsable
      - if @current_user.student?
        %th
          Comentarios
      - elsif @current_user.admin?
        %th
          Comentarios (Alumno)
        %th
          Comentarios (Administrativo)
  %tbody
    -for change in @ticket.changes
      %tr
        %td
          = l change.created_at, :format=>:short
        %td
          =t change.change_type
        %td
          = change.responsible.name rescue nil
        - if @current_user.student?
          %td
            =change.extern_comments
        - elsif @current_user.admin?
          %td
            =change.extern_comments
          %td
            =change.intern_comments
%p
  -if @current_user.admin?
    = link_to t('new_change'), new_ticket_change_path(@ticket) if !!@ticket.responsible

