%h1= t '.title'
%p
  = link_to t('back'), tickets_path
  |
  = link_to t('edit'), edit_ticket_path(@ticket)
  |
  = link_to 'PDF',  ticket_path(@ticket, :format => :pdf)
  |
  = link_to t('destroy'), ticket_path(@ticket), :method=>'delete', :confirm => t('are_you_sure')

%blockquote  
  = @ticket.description
  
%p
  Alumno:
  %i= @ticket.student_id
%p
  Curso:
  %i= @ticket.course_id
%p
  Profesor:
  %i= @ticket.teacher_id
%p
  Correspondiente a:
  %i= t @ticket.corresponding_to
%p
  Status: 
  = t(@ticket.status)  
      
%table
  %thead
    %tr
      %th
        Fecha
      %th
        Accion
      %th
        Comentarios
  %tbody
    %tr
      %td
        =@ticket.created_at.to_formatted_s(:short)
      %td
        Levantamiento
      %td
        Sin comentarios
    - for change in @ticket.changes
      %tr
        %td
          =change.created_at.to_formatted_s(:short)
        %td
          =t change.change_type
        %td
          =change.extern_comments
  
%p= link_to t('new_change'), new_ticket_change_path(@ticket)
      
      
