%h1= t '.title'
%p
  = link_to t('back'), tickets_path
  - if @current_user.admin?
    = link_to t('edit'), edit_ticket_path(@ticket)
    |
    = link_to 'PDF',  ticket_path(@ticket, :format => :pdf)
    |
    = link_to t('destroy'), ticket_path(@ticket), :method=>'delete', :confirm => t('are_you_sure')
%hr
  
-if @current_user.admin?
  = button_to t('new_change'), new_ticket_change_path(@ticket), :method=>:get if !!@ticket.responsible
    
%table.details
  %tr
    %td Alumno
    %td= @ticket.student.name
  %tr
    %td Responsable
    %td
      - if @ticket.responsible
        = @ticket.responsible.name
        -if @current_user.admin?
          = link_to "Cambiar", responsible_ticket_path(@ticket)     
      - else
        -if @current_user.admin?
          = button_to("Tomar Queja", {:action=>:update, :ticket=>{:responsible_id=>@current_user.id}}, :method=>:put)
        -else
          = "Sin Responsable"     
               
  -if @ticket.course?
    %tr
      %td Curso
      %td=  @ticket.course
  -if @ticket.teacher?
    %tr
      %td Profesor
      %td=  @ticket.teacher
  %tr
    %td Tema  
    %td=corresponding_to_path(@ticket)

%blockquote  
  = @ticket.title + ": "
  %br
  = @ticket.description
  

%h2 Archivos de Evidencia
- for attachment in @ticket.attachments
  %p
    = link_to attachment.file_name, show_attachment_path(attachment.to_param, :format=>attachment.extension)
    
%p= button_to "Agregar Archivo", edit_ticket_path(@ticket), :method=>:get


- for change in @ticket.changes
  %h2= change.created_at.to_formatted_s(:short)  + ' > ' +  t(change.change_type)
  %div{:style=>"padding-left: 15px; padding-bottom: 10px;"}
    %i
      Autor: 
      = change.responsible.name
    %p
      = change.intern_comments if @current_user.admin?
      = change.extern_comments unless @current_user.admin?
    %ul
    - for file in change.attachments
      = link_to file.file_name, show_attachment_path(file)
