<!DOCTYPE html>
<html>
<head>
  <title>Sistema De Quejas - UDLAP</title>
  <%= stylesheet_link_tag :all %>
  <%= yield :css %>
  <%= javascript_include_tag :defaults %>
  <%= yield :script %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <%= yield %>
  <p><%= flash[:notice] %></p>
</div>
</body>
</html>
